:root {
    --primary-color: #ffffff;
    --secondary-color: #ffffff;
    --background-color: #ffffff;
    --text-color: #000000;

    --default-font:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

html {
    background-color: var(--background-color);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    margin: 0px;
    
}

.centered {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.bottom-right {
    position: absolute;
    bottom: 8px;
    right: 16px;
}

.bottom-right > button {
    font-size: 16px;
    color: var(--text-color);
    background-color: transparent;
    padding: 4px 8px;
}

#header {
    position: relative;
    text-align: center;
}

#header-image {
    margin: 0px;
    padding: 10px;
    max-width: 100%;
    filter: blur(3px);
}

#header-content {
    padding: 50px 20vw;
    background-color: var(--background-color);
    border-radius: 12px;
    opacity: 0.8;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    color: var(--text-color)
}

.rotate svg {
    transform: rotate(0deg);
    transition: transform 0.3s;
}
.rotate:hover svg {
    transform: rotate(180deg);
}

/* Hide scrollbar for Chrome, Safari and Opera */
.hide-scrollbar::-webkit-scrollbar {
    display: none;
}

.hide-scrollbar {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

.navigation-bar {
    text-align: center;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}


.navigation-bar > a {
    color: var(--text-color);
    margin: 10px;
    text-decoration: none;
    padding: 8px;
    border-bottom: 3px solid var(--text-color);
    transition: box-shadow 0.2s, background-color 0.2s;
}

.navigation-bar > a:hover {
    box-shadow: 0 4px 0 var(--text-color);
    background-color: rgba(0,0,0,0.1);
}


.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-button {
    font-size: 16px;
    cursor: pointer;
    padding: 8px 14px;
    border-width: 0px;
    background-color: transparent;
    color: var(--text-color);
    font-family: var(--default-font);
    box-shadow: 0 3px 0 var(--text-color);
    transition: box-shadow 0.2s, background-color 0.2s;
}

.dropdown-button:hover {
    box-shadow: 0 6px 0 var(--text-color);
    background-color: rgba(0,0,0,0.1);
}


.dropdown-content {
    display: none;
    position: absolute;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    width: 100%;
    background-color: transparent;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
}

.dropdown-content.show {
    display: block;
    max-height: 300px; /* adjust based on content */
}

.dropdown-content > a {
    display: block;
    margin: 10px 7px;

    text-decoration: none;
    color: var(--text-color);
    transition: box-shadow 0.2s ease, background-color 0.2s ease;
}

.dropdown-content > a:hover {
    box-shadow: 0 2px 0 var(--text-color);
    background-color: rgba(0,0,0,0.1);
}

.icon-sml {
    width: 16px;
    height: 16px;
}

.icon-med {
    width: 24px;
    height: 24px;
}

.toggle-icon {
    display: none;
}



@keyframes navigation-bar-hovered {
  from { box-shadow: 0 2px 0 var(--text-color); background-color: transparent; }
  to { box-shadow: 0 4px 0 var(--text-color); background-color: rgba(0,0,0,0.1); }
}
