:root {
    /* Colors */
    --primary-color: #ffffff;
    --shadow-color: #ffffff;
    --background-color: #ffffff;
    --text-color: #000000;

    --spacing: 0.8em;

    /* Fonts */
    --default-font-size: 1.2em;
    --default-font:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

html {
    background-color: var(--background-color);
    font-family: var(--default-font)
}

body {
    margin: 0px;
}

.centered {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.bottom-right {
    position: absolute;
    bottom: 8px;
    right: 16px;
}

.bottom-right > a,
.bottom-right > span {
    color: var(--text-color);
    font-size: var(--default-font-size);
}

.bottom-right > button {
    font-size: var(--default-font-size);
    color: var(--text-color);
    background-color: transparent;
    padding: 4px 8px;
}

#header {
    position: relative;
    text-align: center;
}

#header-image {
    margin: 0px;
    padding: var(--spacing);
    max-width: 100%;
    filter: blur(3px);
}

#header-content {
    padding: 50px 20vw;
    background-color: var(--background-color);
    border-radius: 12px;
    opacity: 0.8;
    box-shadow: 0px 8px 16px 0px var(--shadow-color);
    color: var(--text-color)
}

.image-button {
    display: inline-flex;
    align-items: center;
    gap: 5px;
    border-color: var(--text-color);
    transition: background-color 0.2s;
}

.image-button:hover {
    background-color: var(--shadow-color);
}

.rotate svg {
    transform: rotate(0deg);
    transition: transform 0.3s;
}

.rotate:hover svg {
    transform: rotate(180deg);
}

.hide-scrollbar {
    -ms-overflow-style: none;   /* IE and Edge */
    scrollbar-width: none;  /* Firefox */ 
}

.hide-scrollbar::-webkit-scrollbar {
    display: none;  /* Chrome, Safari and Opera */
}

.navigation-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: sticky;
    top: 0;
    box-shadow: 0px 8px 16px 0px var(--shadow-color);
}

.navigation-bar > a {
    font-size: var(--default-font-size);
    color: var(--text-color);
    text-decoration: none;
    margin: var(--spacing);
    padding: 8px;
    box-shadow: 0 3px 0 var(--text-color);
    transition: box-shadow 0.2s,
                background-color 0.2s,
                scale 0.2s;
}

.navigation-bar > a:hover {
    box-shadow: 0 6px 0 var(--text-color);
    background-color: var(--shadow-color);
    scale: 1.1;
}

.dropdown {
    display: inline-block;
    position: relative;
}

.dropdown-button {
    font-size: var(--default-font-size);
    font-family: var(--default-font);
    color: var(--text-color);
    background-color: transparent;
    cursor: pointer;
    padding: 8px;
    margin: var(--spacing);
    border-width: 0px;
    box-shadow: 0 3px 0 var(--text-color);
    transition: box-shadow 0.2s,
                background-color 0.2s;
}

.dropdown-button:hover {
    box-shadow: 0 6px 0 var(--text-color);
    background-color: var(--shadow-color);
}


.dropdown-content {
    display: none;
    position: absolute;
    width: 100%;
    max-height: 0;
    background-color: transparent;
    box-shadow: 0px 8px 16px 0px var(--shadow-color);
    overflow: hidden;
    transition: max-height 0.3s ease;
    z-index: 1; 
}

.dropdown-content.show {
    display: block;
    max-height: 300px; /* adjust based on content */
}

.dropdown-content > a {
    display: block;
    margin: var(--spacing) 7px;
    padding: 5px;
    color: var(--text-color);
    text-decoration: none;
    transition: box-shadow 0.2s ease,
                background-color 0.2s ease;
}

.dropdown-content > a:hover {
    box-shadow: 0 2px 0 var(--text-color);
    background-color: var(--shadow-color);
}

.icon-sml {
    width: 12px;
    height: 12px;
}

.icon-med {
    width: 16px;
    height: 16px;
}

.icon-lrg {
    width: 20px;
    height: 20px;
}

.toggle-icon {
    display: none;
}